<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tri Chaînes</title>
    <link rel="stylesheet" type="text/css" href="static/css/style.css/style.css">
</head>
<body>
    <header>
        <nav> 
            <ul class="navbar">
                <li><a href="#"><b>Chaînes</b></a></li>
                <li><a href="#"><b>Catégories</b></a></li>
                <li><a href="#"><b>Pays</b></a></li>
                <li><a href="#"><b>Langues</b></a></li>
                <li><a href="#"><b>Occurences</b></a></li>
            </ul>
        </nav>
    </header>

    <main>

        <h1>CHAÎNES : 824</h1>

        <section>
            <table>
                <thead>
                    <tr>
                        <th>Numero</th>
                        <th>ID Github</th>
                        <th>Nom</th>
                        <th>Nom Mumu</th>
                        <th>Pays</th>
                        <th>Langues</th>
                        <th>Catégories</th>
                        <th>Media</th>
                        <th>Adulte</th>
                        <th>Forcer diffusion</th>
                        <th>Forcer non-diffusion</th>
                        <th>A diffuser</th>
                        <th>IP</th>
                        <th>Occurences</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><b class="numero">1</b></td>
                        <td>#</td>
                        <td>#</td>
                        <td>#</td>
                        <td>#</td>
                        <td>#</td>
                        <td>#</td>
                        <td>#</td>
                        <td>#</td>
                        <td>#</td>
                        <td>#</td>
                        <td>#</td>
                        <td>#</td>
                        <td>#</td>
                    </tr>
                    <tr>
                        <td><b class="numero">2</b></td>
                        <td>#</td>
                        <td>#</td>
                        <td>#</td>
                        <td>#</td>
                        <td>#</td>
                        <td>#</td>
                        <td>#</td>
                        <td>#</td>
                        <td>#</td>
                        <td>#</td>
                        <td>#</td>
                        <td>#</td>
                        <td>#</td>
                    </tr>
                    <tr>
                        <td><b class="numero">3</b></td>
                        <td>#</td>
                        <td>#</td>
                        <td>#</td>
                        <td>#</td>
                        <td>#</td>
                        <td>#</td>
                        <td>#</td>
                        <td>#</td>
                        <td>#</td>
                        <td>#</td>
                        <td>#</td>
                        <td>#</td>
                        <td>#</td>
                    </tr>
                    <tr>
                        <td><b class="numero">4</b></td>
                        <td>#</td>
                        <td>#</td>
                        <td>#</td>
                        <td>#</td>
                        <td>#</td>
                        <td>#</td>
                        <td>#</td>
                        <td>#</td>
                        <td>#</td>
                        <td>#</td>
                        <td>#</td>
                        <td>#</td>
                        <td>#</td>
                    </tr>
                    <tr>
                        <td><b class="numero">5</b></td>
                        <td>#</td>
                        <td>#</td>
                        <td>#</td>
                        <td>#</td>
                        <td>#</td>
                        <td>#</td>
                        <td>#</td>
                        <td>#</td>
                        <td>#</td>
                        <td>#</td>
                        <td>#</td>
                        <td>#</td>
                        <td>#</td>
                    </tr>
                    <tr>
                        <td><b class="numero">6</b></td>
                        <td>#</td>
                        <td>#</td>
                        <td>#</td>
                        <td>#</td>
                        <td>#</td>
                        <td>#</td>
                        <td>#</td>
                        <td>#</td>
                        <td>#</td>
                        <td>#</td>
                        <td>#</td>
                        <td>#</td>
                        <td>#</td>
                    </tr>
                    <tr>
                        <td><b class="numero">7</b></td>
                        <td>#</td>
                        <td>#</td>
                        <td>#</td>
                        <td>#</td>
                        <td>#</td>
                        <td>#</td>
                        <td>#</td>
                        <td>#</td>
                        <td>#</td>
                        <td>#</td>
                        <td>#</td>
                        <td>#</td>
                        <td>#</td>
                    </tr>
                    <tr>
                        <td><b class="numero">8</b></td>
                        <td>#</td>
                        <td>#</td>
                        <td>#</td>
                        <td>#</td>
                        <td>#</td>
                        <td>#</td>
                        <td>#</td>
                        <td>#</td>
                        <td>#</td>
                        <td>#</td>
                        <td>#</td>
                        <td>#</td>
                        <td>#</td>
                    </tr>
                    <tr>
                        <td><b class="numero">9</b></td>
                        <td>#</td>
                        <td>#</td>
                        <td>#</td>
                        <td>#</td>
                        <td>#</td>
                        <td>#</td>
                        <td>#</td>
                        <td>#</td>
                        <td>#</td>
                        <td>#</td>
                        <td>#</td>
                        <td>#</td>
                        <td>#</td>
                    </tr>
                    <tr>
                        <td><b class="numero">10</b></td>
                        <td>#</td>
                        <td>#</td>
                        <td>#</td>
                        <td>#</td>
                        <td>#</td>
                        <td>#</td>
                        <td>#</td>
                        <td>#</td>
                        <td>#</td>
                        <td>#</td>
                        <td>#</td>
                        <td>#</td>
                        <td>#</td>
                    </tr>
                </tbody>
            </table>
        </section>
    </main>
</body>
</html>
